@{
    ViewData["Title"] = "Swiss Tournament Manager";
}

<div class="text-center">
    <div class="display-5">Welcome to Swiss Tournament Manager. To create a new tournament, please login and create players before you begin.</div> 
    <p></p>
</div>
