@*@model TournamentGenerator.Models.Game

    @{
        ViewData["Title"] = "Edit";
    }

    <h1>Edit</h1>

    <h4>Game</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="RoundId" class="control-label"></label>
                    <select asp-for="RoundId" class="form-control" asp-items="ViewBag.RoundId"></select>
                    <span asp-validation-for="RoundId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerOneId" class="control-label"></label>
                    <select asp-for="PlayerOneId" class="form-control" asp-items="ViewBag.PlayerOneId"></select>
                    <span asp-validation-for="PlayerOneId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerTwoId" class="control-label"></label>
                    <select asp-for="PlayerTwoId" class="form-control" asp-items="ViewBag.PlayerTwoId"></select>
                    <span asp-validation-for="PlayerTwoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerOneScore" class="control-label"></label>
                    <input asp-for="PlayerOneScore" class="form-control" />
                    <span asp-validation-for="PlayerOneScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerTwoScore" class="control-label"></label>
                    <input asp-for="PlayerTwoScore" class="form-control" />
                    <span asp-validation-for="PlayerTwoScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhysicalTableId" class="control-label"></label>
                    <select asp-for="PhysicalTableId" class="form-control" asp-items="ViewBag.PhysicalTableId"></select>
                    <span asp-validation-for="PhysicalTableId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

@model TournamentGenerator.Models.ViewModels.GameViewModels.GameResultViewModel

@{
    ViewData["Title"] = "Enter Results";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.Id" />
            <div class="form-group">
                <label asp-for="Game.RoundId" class="control-label"></label>
                <select asp-for="Game.RoundId" class="form-control" asp-items="ViewBag.RoundId"></select>
                <span asp-validation-for="Game.RoundId" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Game.PlayerOneId" class="control-label"></label>
                <select asp-for="Game.PlayerOneId" class="form-control" asp-items="ViewBag.PlayerOneId"></select>
                <span asp-validation-for="Game.PlayerOneId" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Game.PlayerTwoId" class="control-label"></label>
                <select asp-for="Game.PlayerTwoId" class="form-control" asp-items="ViewBag.PlayerTwoId"></select>
                <span asp-validation-for="Game.PlayerTwoId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="PlayerOneScore" class="control-label"></label>
                    <input asp-for="PlayerOneScore" class="form-control" />
                    <span asp-validation-for="PlayerOneScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerTwoScore" class="control-label"></label>
                    <input asp-for="PlayerTwoScore" class="form-control" />
                    <span asp-validation-for="PlayerTwoScore" class="text-danger"></span>
                </div>*@
            <select asp-for="Result" class="form-control" id="Result" name="Result">
                <option>Select Result</option>
                <option value="1">Player 1 Wins</option>
                <option value="2">Player 2 Wins</option>
                <option value="3">Draw</option>
            </select>
            <div class="form-group">
                <label asp-for="Game.PhysicalTableId" class="control-label"></label>
                <select asp-for="Game.PhysicalTableId" class="form-control" asp-items="ViewBag.PhysicalTableId"></select>
                <span asp-validation-for="Game.PhysicalTableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

